body
{
    margin-top: 0;
    background: radial-gradient(#cfcfcf, #000000);
    background-repeat: no-repeat;
    background-size: cover;
}
.text
{
    color: #ffffff;
    opacity: 1;
}

.background {
width: 100%;

}
.container {
    color: #dfdfdf;
    /* On centre */
    margin: 0 auto;
    font-family: 'MedievalSharp';
    /* On limite la largeur pour les grands écrans */
    max-width: 1280px;

    /* On gère la présence d’une marge */
    width: 90%;
    background: rgb(48,48,48,0.4);
}

    /*
    * Comme la dite marge est exprimée en pourcentage,
    * on l’augmente sur les devices moins larges.
    */
    @media only screen and (min-width: 993px){
    .container {
    width: 85%;
    }

    .header {
        text-align: left;
        background: rgb(117, 117, 117,0.8);
        color: white;
        font-size: 30px;
      }

      .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
      }
      
      .button1 {
        background: rgb(117, 117, 117,0);
        color: black; 
        border: 2px solid #000000;
      }
      
      .button1:hover {
        background: darkslategray;
        color: white;
      }

}