body
{
    margin-top: 0;
    background: radial-gradient(#cfcfcf, #000000);
    background-repeat: no-repeat;
    background-size: cover;
}
.text
{
    color: #ffffff;
    opacity: 1;
}

.background {
width: 100%;

}
.container {
    color: #dfdfdf;
    /* On centre */
    margin: 0 auto;
    font-family: 'MedievalSharp';
    /* On limite la largeur pour les grands écrans */
    max-width: 1280px;
    
    /* On gère la présence d’une marge */
    width: 90%;
    background: rgb(48,48,48,0.4);
}
    
    /*
    * Comme la dite marge est exprimée en pourcentage,
    * on l’augmente sur les devices moins larges.
    */
    @media only screen and (min-width: 993px){
    .container {
    width: 85%;
    }
    .header {
        padding: 0;
        margin-top: 0px;
        border-top: 0px;
        text-align: center;
        background: rgb(117, 117, 117,0.4);
        color: white;
        font-size: 30px;
      }
}